<form [formGroup]="registerForm" (click)="register()">
    <mat-card>
        <mat-card-header>
          <h1>Inscription</h1>
        </mat-card-header>
    
        <mat-card-content>
          <!--Prénom-->
          <mat-form-field class="mat-50">
            <mat-label>Prénom</mat-label>
            <input formControlName="firstName" matInput>
          </mat-form-field>
    
          <!--Nom-->
          <mat-form-field class="mat-50">
            <mat-label>Nom</mat-label>
            <input formControlName="lastName" matInput>
          </mat-form-field>
    
          <!--Email-->
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput>
          </mat-form-field>
    
          <!--Mot de passe-->
          <mat-form-field class="mat-50">
            <mat-label>Mot de passe</mat-label>
            <input type="password" formControlName="password" matInput>
          </mat-form-field>
    
          <!--Confirmer Mot de passe-->
          <mat-form-field class="mat-50">
            <mat-label>Confirmer le mot de passe</mat-label>
            <input type="password" formControlName="passwordConfirm" matInput>
          </mat-form-field>
    
          <!--Rôle-->
          <!--TODO : A gérer plutard (afficher uniquement lorsque le compte connecté est ADMI/SUPER-ADMIN)
            <mat-form-field class="mat-50">
            <mat-label>Rôle</mat-label>
            <mat-select formControlName="role">
              <mat-option value="USER">UTILISATEUR</mat-option>
              <mat-option value="ADMIN">ADMIN</mat-option>
              <mat-option value="ROOT">SUPER ADMIN</mat-option>
            </mat-select>
          </mat-form-field>
          -->
    
          <!--Statut-->
          <!--TODO : A gérer plutard (afficher uniquement lorsque le compte connecté est ADMI/SUPER-ADMIN)
            <div class="div-50">
            <mat-checkbox formControlName="status">Activé automatiquement le compte</mat-checkbox>
          </div>
          -->
    
    
        </mat-card-content>
    
        <mat-card-actions>
          <div>
            <button mat-raised-button color="primary" type="submit">Enregistrer</button>
          </div>
          <div >
            <a routerLink="/connexion" mat-stroked-button color="accent" type="submit" >J'ai un compte</a>
          </div>
        </mat-card-actions>
      </mat-card>
</form>