button{
    margin: 5px;
  }
  
mat-card{
    margin: 2%;
    text-align: left;
    width: 25%;
    margin-left: 40%;
    border: 1px solid #ccc;
}
  
.mat-mdc-form-field {
    width: 98%;
    margin: 1%;
}
/*Mettre 2 composants mat-field cote à cote*/
.mat-50{
    width: 51%;
    margin: 1%;
}
/*Mettre 2 composants div cote à cote*/
.div-50{
    width: 48%;
    margin: 10px;
    display: inline;
}